@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');


body {
    font-family: "Ibarra Real Nova", serif;
    font-feature-settings: "liga" 1, "clig" 1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 100vh;
    background-color: #ffffff;
    color: #000000;
}

.main-content {
    text-align: left;
    width: 95%;
    max-width: 900px;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h1.center {
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 1em 0;
}

p.center {
    text-align: center;
    margin: 0.5em 0;
}

a {
    color: #0077b5;
    text-decoration: none;
}

a:visited {
    color: #0077b5;
}

a:hover,
a:focus {
    text-decoration: underline;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
    text-align: left;
}

ol {
    font-size: 1.2em;
}

.blog-posts {
    font-size: 1.2em;
    list-style-type: circle;
    padding-left: 20px;
    text-align: left;
}

.blog-posts li {
    margin: 0.5em 0;
}

.social-links {
    list-style-type: circle;
    padding-left: 20px;
    text-align: left;
}

.social-links li {
    margin: 0.5em 0;
}

.contact {
    margin-top: 1.5em;
    font-size: 1em;
}

.blog-post-main-image {
    max-width: 100%;
    height: auto;
    display: block;
    /* width: 800px; */
    margin: 20px 0;
}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #575353;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

code {
    font-family: 'Fira Code', monospace;
    font-feature-settings: "liga" 1, "clig" 1;
    font-size: 0.9em;
}

.wte-init-perp-image {
    display: block;
    width: 90%;  /* Adjust this percentage to make the image smaller or larger */
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

pre.ascii-art {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-align: left;
    overflow: visible;
}

pre.ascii-art {
    /*font-family: monospace, 'Courier New', Courier;*/
    white-space: pre;
    line-height: 1;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    /*background-color: #e6e6fa; /* Light purple background */
    color: #7c61ca;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    tab-size: 4;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    word-break: normal;
    word-wrap: normal;
    margin: 0; /* Reset default margin */
    overflow: visible;
}
.ascii-art-container {
    text-align: center;
    width: 100%;
}
/* Base styles for the citation */
.citation {
    position: relative;
    cursor: pointer;
    border-bottom: 1px dashed #0077b5;
    color: #0077b5;
}

/* Tooltip container (hidden by default) */
.citation::before {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 125%;
    /* Adjust this to control the positioning */
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
    font-size: 0.9em;
    z-index: 10;
}

/* Arrow below the tooltip */
.citation::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 115%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

/* Show tooltip on hover */
.citation:hover::before,
.citation:hover::after {
    opacity: 1;
    visibility: visible;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
    .main-content {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .blog-post-main-image {
        width: 100%;
    }
}
